name: lint

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    paths:
      - '.github/workflows/lint.yml'
      - 'spellcheck.toml'
      - 'spellcheck.dic'
      - 'rft.md'
    branches: [ main ]
  pull_request:
    paths:
      - '.github/workflows/lint.yml'
      - 'spellcheck.toml'
      - 'spellcheck.dic'
      - 'rft.md'
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  spellcheck:
    name: spellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Install the Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install libclang-dev and hunspell
        run: sudo apt update && sudo apt install libclang-dev hunspell -y
      - name: Install cargo-spellcheck
        run: cargo install cargo-spellcheck
      - name: Check spelling
        run: cargo spellcheck --cfg=spellcheck.toml rft.md
